.btn {
  cursor: pointer; }

.abs {
  position: absolute;
  display: block; }

.rel {
  position: relative;
  display: block; }

html,
body {
  font-family: sans-serif; }

#video {
  width: 220px;
  height: 140px;
  top: 0;
  left: 0;
  z-index: 10; }

#debug {
  position: absolute;
  bottom: 10px;
  color: #666;
  right: 10px;
  text-align: right;
  font-size: 12px; }
