html(lang="en")
	head
		meta(name="viewport", content="width=device-width, initial-scale=1, maximum-scale=1")
		link(rel="stylesheet", type="text/css", href="style.css")
		script(type="text/javascript",src="//cdnjs.cloudflare.com/ajax/libs/device.js/0.2.7/device.min.js")
		script(type="text/javascript",src="//ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js")
		script(type="text/javascript",src="//use.fontawesome.com/567b6b8249.js")
		script(type="text/javascript",src="HTMLvideo-min.js")
			

	body
		#videoPlayer.abs

		#videoPlayer2.abs
			//- video(autoplay='' muted='' playsinline='' webkit-playsinline='')
			//- 	source(src="https://joystick.cachefly.net/resources/video/video.mp4" type="video/mp4")

		#groupwrapper1.rel

			.iconControl
				a.active#defaults
					i.btn.fa.fa-lg.fa-sliders(aria-hidden="true") 
					span defaults

				a#initialize(title='video.init("video_container")')
					i.btn.fa.fa-lg.fa-hourglass-start(aria-hidden="true")
					span (re)initialize
				a.active#load(title='video.load( [video_file(s)], poster_file )')
					i.btn.fa.fa-lg.fa-cloud-download(aria-hidden="true")
					span load video
				a.active#unload(title='video.unload()')
					i.btn.fa.fa-lg.fa-chain-broken(aria-hidden="true")
					span unload
				a.active#destroy(title='video.destroy()')
					i.btn.fa.fa-lg.fa-trash-o(aria-hidden="true")
					span destroy

				a.active#play(title='video.play()')
					i.btn.fa.fa-lg.fa-play-circle(aria-hidden="true")
					span play
				a#pause(title='video.pause()')
					i.btn.fa.fa-lg.fa-pause-circle(aria-hidden="true")
					span pause
				a#mute(title='video.mute()')
					i.btn.fa.fa-lg.fa-volume-off(aria-hidden="true")
					span mute
				a#unmute(title='video.unmute()')
					i.btn.fa.fa-lg.fa-volume-up(aria-hidden="true")
					span unmute
				a#stop(title='video.stop()')
					i.btn.fa.fa-lg.fa-stop-circle(aria-hidden="true")
					span stop
				a#replay(title='video.replay()')
					i.btn.fa.fa-lg.fa-repeat(aria-hidden="true")
					span replay
				a.active#reflow(title='video.resize(w,h)')
					i.btn.fa.fa-lg.fa-expand(aria-hidden="true")
					span resize
			#resize.fieldwrapper
				input#width(type='textfield')
				span x
				input#height(type='textfield')
				//- #reflow.btn.box resize

		#groupwrapper2.rel
			.fieldwrapper
				.header Enter video source URL(s) below
				textarea.activeextarea#sources
				.info For multiple sources, separate using a comma
				.info Click <span id='ppMulti' class='btn linkage'>here</span> (multiple) or <span id='ppSingle' class='btn linkage'>here</span> (single) to pre-populate.

			.fieldwrapper
				.header Enter (optional) video poster URL below
				input#poster(type='textfield')
				.info  Click <span id='ppPoster' class='btn linkage'>here</span> to pre-populate.

		#debugField.abs

		script(type="text/javascript",src="main.js")
